.container{color:#5F9EA0;font-size: 25px; }
header{background: #DC143C;}
.a{width: 70%;}
.wrna{background:#E6E6FA ;color:#5F9EA0}
a{color: black; font-size: 20px;}
.c{color:#5F9EA0; background:#E6E6FA  }
